#{extends 'main.html' /}
#{set title:'Tasks' /}

<div class="span12">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Task</th>
        <th>Assign to</th>
        <th>Reocurence</th>
        <th>State</th>
        <th>Due</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Buy some Milk</td>
        <td>
          <select>
            <option>Ugur</option>
            <option>Olcay</option>
            <option>Alex</option>
          </select>
        </td>
        <td>Each week</td>
        <td>
          <button class="btn btn-success btn-small">Done</button>
        </td>
        <td>
          <span class="badge badge-important">Today</span>
        </td>
      </tr>
      <tr>
        <td>Buy some Milk</td>
        <td>
          <select>
            <option>Alex</option>
            <option>Nikos</option>
            <option>Olcay</option>
          </select>
        </td>
        <td>Each week</td>
        <td>
          <button class="btn btn-success btn-small">Done</button>
        </td>
        <td>
          <span class="badge badge-warning">Tomorrow</span>
        </td>
      </tr>
      <tr>
        <td>Buy some Milk</td>
        <td>
          <select>
            <option>Olcay</option>
            <option>Olcay</option>
            <option>Alex</option>
          </select>
        </td>
        <td>Each week</td>
        <td>
          <button class="btn btn-success btn-small">Done</button>
        </td>
        <td>
          <span class="badge badge-warning">Tomorrow</span>
        </td>
      </tr>
    </tbody>
  </table>
  <ol class="breadcrumb" style="background:none">
    <li>
      <a href="#">Date</a>
      <span class="divider">/</span>
    </li>
    <li>
      <a href="#">Date</a>
      <span class="divider">/</span>
    </li>
    <li>
      <a href="#">State</a>
      <span class="divider">/</span>
    </li>
    <li>
      <a href="#">Assignee</a>
    </li>
  </ol>
</div>