#{extends 'mainFront.html' /}
#{set title:'What we do' /}
     <div class="container">&nbsp;
      <div class="hero-unit" style="padding-top:0px;padding-bottom:0px">
        <div class="row-fluid">
          <div class="span4" style="border-right:20px solid green">
            <h2>Tasks</h2>
            <div class="media">
              <a class="pull-left" href="#">
    <img class="media-object" src="@{'/public/stylesheets/images/task.png'}">
  </a>
              <div class="media-body">
                <h4 class="media-heading">Manage your tasks</h4>
                <p>Homy lets you manage all the tasks your house, dorm or whatever needs to do.</p>
              </div>
            </div>
          </div>
          <div class="span4" style="border-right:20px solid red">
            <h2>Groceries</h2>
            <div class="media">
              <a class="pull-left" href="#">
    <img class="media-object" src="@{'/public/stylesheets/images/grocery.png'}">
  </a>
              <div class="media-body">
                <h4 class="media-heading">Share grocery lists</h4>
                <p>Nedd a shared grocery list for your household ? Whats to buy, what has you friend already done ? Homy has it.</p>
              </div>
            </div>
          </div>
          <div class="span4" style="border-right:20px solid #0072e6">
            <h2>Deposit Box</h2>
            <div class="media">
              <a class="pull-left" href="#">
    <img class="media-object" src="@{'/public/stylesheets/images/depositBox.png'}">
  </a>
              <div class="media-body">
                <h4 class="media-heading">Save you expenses</h4>
                <p>Wonder how much money you and your friends have left ? Homy will tell you in realtime.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>