#{extends 'mainFront.html' /}
#{set title:'Who we are' /}
    <div style="margin-top:40px"></div>
    <div class="container">
      <div class="well" style="color:white; background:black">
        <div class="row-fluid">
          <div class="span2" style="padding-left:15px">
            Alex
            <div class="well" style="color:black">Architecture,<br/> Frontend,<br/> Backend,<br/> JS-Layer</div>
            </div>
          <div class="span2" style="border-left:2px solid green; padding-left:15px">
            Medin
            <div class="well" style="color:black">Authentication</div>
          </div>
          <div class="span2" style="border-left:2px solid red; padding-left:15px">
            Olcay
            <div class="well" style="color:black">Frontend,<br/> Tasks,<br/> JS-Layer</div>
          </div>
          <div class="span2" style="border-left:2px solid #0072e6; padding-left:15px;padding-right:15px">
            Ercan
            <div class="well" style="color:black">Frontend,<br/> Grocerys</div>
            </div>
          <div class="span2" style="border-left:2px solid red; padding-left:15px;padding-right:15px">
            Ali Ugur
            <div class="well" style="color:black">Frontend,<br/> Deposit</div>
            </div>
          <div class="span2" style="border-left:2px solid green; padding-left:15px;padding-right:15px">
            Nikolaos
            <div class="well" style="color:black">Models,<br/> Authentication</div></div>
        </div>
      </div>
    </div>
    