#{extends 'main.html' /}
#{set title:'Profile' /}

<div class="span6">
  <div class="control-group">
    <label class="control-label">Personal settings</label>
    <div class="controls">
    	<form action="@{Profile.updateRoomy(roomId)}" method="POST" >
      <div class="row-fluid">
        <div class="span6">
        
          <label>Password</label>
            <input type="password" name="password" id="password" value=""  class="input-medium input-block-level" placeholder="">
        </div>
        <div class="span6">
          <label>Repeat password</label>
          <input type="text" class="input-medium">
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <label>Username</label>
          <input type="text" name="username" id="username" class="input-medium input-block-level" value="${r.username}">
        </div>
        <div class="span6">&nbsp;</div>
      </div>
      <div class="row-fluid">
        <div class="span6">
        
          <label>First name</label>
            <input type="text" name="fname" id="fname" value="${r.firstName}"  class="input-medium input-block-level" placeholder="">
        </div>
        <div class="span6">
          <label>Last name</label>
          <input type="text" name="lname" id="lname" class="input-medium" value="${r.lastName}">
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <label>Security question</label>
            <input type="text" name="squestion" id="squestion" class="input-medium input-block-level" value="${r.secretQuestion}">
        </div>
        <div class="span6">
          <label>Answer to question</label>
            <input type="text" name="sanswer" id="sanswer" class="input-medium input-block-level" value="${r.sqAnswer}">
        </div>
      </div>
      <div class="form-actions">
      
        <input type="submit" id="update" value="Update your roomy" class="btn btn-block btn-primary"/> 
      </div>
      </form>
    </div>
  </div>
</div>
<div class="span6">
  <div class="row-fluid">
    <div class="span4">
      <img src="//app.divshot.com/img/placeholder-100x100.gif" class="img-polaroid">
    </div>
    <div class="span8">This is you!
      <br>
      <form action="@{Profile.updatePhoto(roomId)}" method="POST" enctype='multipart/form-data'>
       <input type="file" id="photo" name="photo" />Update</a>
       <input type="submit" id="updatePhoto" class="btn btn-block btn-primary">
      </form>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Room</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Work</td>
          <td>
            <a class="btn btn-danger btn-block">Unjoin</a>
          </td>
        </tr>
        <tr>
          <td>Home</td>
          <td>
            <a class="btn btn-danger btn-block">Unjoin</a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="input-medium">
          </td>
          <td>
            <a class="btn btn-block btn-success">Join room</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>