#{extends 'main.html' /}
#{set title:'Dashboard' /}
#{set topBarStyle:'dash' /}

<div class="span6">
  <ul class="nav nav-tabs" style="margin-bottom:0px; border-bottom:0px">
    <li class="active">
      <a href="#">Tasks</a>
    </li>
  </ul>
  <div class="well" style="border-top:0px">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Michael</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jake</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ul class="nav nav-tabs" style="margin-bottom:0px; border-bottom:0px">
    <li class="active">
      <a href="#">Events</a>
    </li>
  </ul>
  <div class="well" style="border-top:0px"></div>
</div>
<div class="span6">
  <ul class="nav nav-tabs" style="margin-bottom:0px; border-bottom:0px">
    <li class="active">
      <a href="#">Balance</a>
    </li>
  </ul>
  <div class="well" style="border-top:0px">
    <div class="row-fluid">
      <div class="span8"></div>
      <div class="span4"></div>
    </div>
  </div>
  <ul class="nav nav-tabs" style="margin-bottom:0px; border-bottom:0px">
    <li class="active">
      <a href="#">Grocery</a>
    </li>
  </ul>
  <div class="well" style="border-top:0px"></div>
</div>