<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head
        <title>#{get 'title' /}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="text/html; charset=${_response_encoding}" http-equiv="Content-Type">
        <link rel="stylesheet" href="@{'/public/themes/cosmo/bootstrap.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap-responsive.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <script type="text/javascript" src="@{'/public/javascripts/jquery.min.js'}" charset="${_response_encoding}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/bootstrap.min.js'}" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
  </head>
  <body>
    <div class="container">
      <div class="navbar" style="padding:0px;margin:0px">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
            <a class="brand" href="#" style="">Homy</a>
            <div class="nav-collapse collapse pull-right">
              <ul class="nav">
                <li>
                  <a href="#" class="active" style="padding-left:0px; border-bottom:5px solid green; background: green"><br></a> 
                </li>
                <li>
                  <a href="#" style="padding-left:0px;border-bottom:5px solid red; background: red"><br></a> 
                </li>
                <li style="width: 1px;">
                  <a href="#" style="padding-left:0px;border-bottom:5px solid #0072e6; background: #0072e6"><br></a> 
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">&nbsp;
      <div class="hero-unit" style="padding-top:0px;padding-bottom:0px">
        <div class="row-fluid">
          <div class="span4" style="border-right:20px solid green">
            <h2>Tasks</h2>
            <div class="media">
              <a class="pull-left" href="#">
    <img class="media-object" src="//app.divshot.com/img/placeholder-64x64.gif">
  </a>
              <div class="media-body">
                <h4 class="media-heading">Manage your tasks</h4>
                <p>This is the content for your media.</p>
              </div>
            </div>
          </div>
          <div class="span4" style="border-right:20px solid red">
            <h2>Groceries</h2>
            <div class="media">
              <a class="pull-left" href="#">
    <img class="media-object" src="//app.divshot.com/img/placeholder-64x64.gif">
  </a>
              <div class="media-body">
                <h4 class="media-heading">Share grocery lists</h4>
                <p>This is the content for your media.</p>
              </div>
            </div>
          </div>
          <div class="span4" style="border-right:20px solid #0072e6">
            <h2>Deposit Box</h2>
            <div class="media">
              <a class="pull-left" href="#">
    <img class="media-object" src="//app.divshot.com/img/placeholder-64x64.gif">
  </a>
              <div class="media-body">
                <h4 class="media-heading">Save you expenses</h4>
                <p>This is the content for your media.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="well" style="background:black">
        <div class="row-fluid">
          <div class="span3"></div>
          <!-- <div class="span3" style="border-left:2px solid #fff; padding-left:15px">
            <h2 style="color:white">Login</h2>
            <input type="text" class="input-medium input-block-level" placeholder="Username">
            <input type="text" class="input-medium input-block-level" placeholder="Password">
            <a class="btn btn-block btn-success">Log me in</a> 
          </div> -->
		  <div id="login" class="span3" style="border-left:2px solid #fff; padding-left:15px">
	
				<h1>&{'secure.title'}</h1>
					
				#{form @authenticate()}
					
					#{if flash.error}
						<p class="error">
							&{flash.error}
						</p>
					#{/if}
					#{if flash.success}
						<p class="success">
							&{flash.success}
						</p>
					#{/if}
				
					<p id="username-field">
						<label for="username">&{'secure.username'}</label>
						<input type="text" name="username" id="username" value="${flash.username}" />
					</p>
					<p id="password-field">
						<label for="password">&{'secure.password'}</label>
						<input type="password" name="password" id="password" value="" />
					</p>
					<p id="remember-field">
						<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
						<label for="remember">&{'secure.remember'}</label>
					</p>
					<p id="signin-field">
						<input type="submit" id="signin" value="&{'secure.signin'}" />
					</p>
				#{/form}
		  </div>
          <div class="span3" style="border-right:2px solid #fff; padding-right:15px">
          	#{form @Security.registerRoomy()}
          
	            <h2 style="color:white">Register</h2>
	            <input id="username" name"username" type="text" class="input-medium input-block-level" value=""placeholder="Username">
	            <input id="email" type="email" class="input-medium input-block-level" value=""placeholder="E-Mail">
	            <input id="password" type="password" class="input-medium input-block-level" value=""placeholder="Password">
	            <input id="firstName" type="text" class="input-medium input-block-level" value=""placeholder="First Name">
	            <input id="lastName" type="text" class="input-medium input-block-level" value=""placeholder="Last Name">
	            <input id="Birthday" type="text" class="input-medium input-block-level" value=""placeholder="Birthday">
	            <input id="secretQuestion" type="text" class="input-medium input-block-level" value=""placeholder="Security question">
	            <input id="sqAnswer" type="text" class="input-medium input-block-level" value=""placeholder="Security answer">
	            <input type="submit" id="register" value="submit"> 
	            	<a class="btn btn-block btn-primary">Register a new account</a> 
	            </input>
	            
	         #{/form}
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
    <div class="container">&nbsp;</div>
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="#">Who we are</a>
          <span class="divider">/</span> 
        </li>
        <li>
          <a href="#">What we do</a>
          <span class="divider">/</span> 
        </li>
        <li>
          <a href="#">How you can reach us</a>
          <span class="divider">/</span> 
        </li>
        <li class="pull-right">
          <a href="#">Questions ?</a> 
        </li>
      </ol>
    </div>
  </body>

</html>