#{extends 'main.html' /}
#{set title:'Tasks' /}
#{set topBarStyle:'task' /}

<div class="span12"> 
	<div id="tabs">
		<ul>
		<li><a href="#tabs-1">My Tasks</a></li>
		<li><a href="#tabs-2">All Tasks</a></li>
		</ul>
		<div id="tabs-2">
		#{form @Task.addTask()}
		  <table id="allTasks"  class="tablesorter">
		       <thead>
					<tr>
						<th>Task</th>
						<th>Assignee</th>
						<th>Status</th>
						<th>Importance</th>
						<th>Remaining Date</th>
					</tr>
			</thead>
				<tbody>
					#{list items:allTasks, as:'task'}
					<tr>
						<td>${task.title}</td>
						<td>${task.roomy.firstName}</td>
						<td><input type="checkbox" id="${task.id}" ${task.status ? 'checked':''}></td>
						<td>${task.recurrence}</td>
						<td>${task.remainingDate}</td>
					</tr>
					#{/list}
				</tbody>
				<tfoot>
					<tr>
						<td><input type="text" name="task" value="Add new task"></td>
						<td>							
							#{select 'selectedUser', items:allRoomies, valueProperty:'id', labelProperty:'firstName' /}
						</td>
						<td><input type="checkbox"/></td>
						<td>
							<select style="width:50px;" name="recurrence">
							  <option value="1">1</option>
							  <option value="2">2</option>
							  <option value="3">3</option>
							  <option value="4">4</option>
							</select>
						</td>
						<td><input type="text" id="datepicker" name="remainingDate"></td>
					</tr>
				</tfoot>
		  </table>
		    <button name="save" class="btn pull-left btn-success">Save</button>
		#{/form}
	</div>
	<div id="tabs-1">
		#{list items:myTasks, as:'task'}
			<div class="boxed" id="box_${task.id}">
						<p>${task.title}</p>
						<div>
							<center><div id="importance_${task.id}">Level:${task.recurrence}</div></center>
							<center><div id="countdown_${task.id}"></div><script>prepareBox(${task.id},${task.remainingDate});</script></center>
							<center><button type="button"  onclick="passTask(box_${task.id},${task.id})">Pass</button><button type="button" id="btnDone" onclick="setTaskAsDone(box_${task.id},${task.id})">Done</button></center>
						</div>
						
			</div>
		#{/list}
	</div>
</div>
</div>