

.advertise {
	margin-top:20px;
	outline: 2px dotted #a0a0a0;
	height:400px;
}

.advertise:after{
	color: #b0b0b0;
	font-size: 11px;
	content: "Advertise here";
}

.boxed {
  border: 1px solid #F6A828 ;
  height: 150px;
  width:150px;
  float: left;
  margin-left:10px;
}

.boxed p{
	background-color: #E78F08;
	font-style: bold;
	text-align:center;
}